.button {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
    background: #00C470;
    border-radius: 30px;
    border: none;

    font-weight: 800;
    font-size: 14px;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;

    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
        background: #00ad62;
    }

    &:focus {
        outline: none;
        background: #00a05a;
    }
}

