.button-solid {
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
    background: #fff;
    border-radius: 30px;
    border: none;

    font-weight: 800;
    font-size: 14px;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $textColor;

    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
        background: #000;
        color: #fff;
    }

    &:focus {
        outline: none;
        background: #2f2f2f;
        color: #fff;
    }
}

