.button-round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    cursor: pointer;

    transition: background-color 0.3s ease-in;
}

.button-round:hover {
    background-color: #00C470;
}