.input {
    display: block;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 30px;
    border: none;

    font-weight: 700;
    font-size: 14px;
    line-height: 60px;
    color: #FFFFFF;
}

.input::placeholder {
    color: #FFFFFF;
}

.input:focus {
    outline: none;
    background: rgba(0, 0, 0, 1);
}

