.section-focus {
    padding-top: 80px;
    padding-bottom: 40px;
    overflow-x: hidden;

    /* Tablet */
    @media (max-width: 1199px) {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        padding-bottom: 0;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.section-focus__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    /* Mobile */
    @media (max-width: 899px) {
        flex-direction: row-reverse;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        flex-direction: column;   
    }
}

.section-focus__row > * {
    flex-shrink: 0;
}

.section-focus__img {
    /* Tablet */
    @media (max-width: 1199px) {
        width: 420px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        width: 170px;

        img {
            max-width: unset;
            width: 415px;
            height: auto;
        }

        /* Mobile XS */
        @media (max-width: 599px) {
            width: 100%;

            img {
               max-width: 100%;
            }
        }
    }
}

.section-focus__content {
    padding-top: 28px;
    width: 470px;

    /* Tablet */
    @media (max-width: 1199px) {
        padding-top: 12px;
        width: 420px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        width: 370px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        width: 100%;
        text-align: center;
    }
}

.section-focus__header {
    margin-bottom: 30px;

    /* Tablet */
    @media (max-width: 1199px) {
        margin-bottom: 20px;
    }

    .title {
        margin-bottom: 30px;

    /* Tablet */
    @media (max-width: 1199px) {
        margin-bottom: 20px;
        }

    /* Mobile XS */
    @media (max-width: 599px) {
        margin-bottom: 10px;
        }
    }
}

.section-focus__text {
    width: 400px;
    color: $paragraphColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.14;

    p {
        margin-bottom: 15px;
    }

    /* Tablet */
    @media (max-width: 1199px) {
        width: unset;
        max-width: 420px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        line-height: 1.7;
    }
}